/local-eml
/local-eml.exe
/dist/
/tmp/
*.test
*.out
.DS_Store
node_modules/
web/dist/*
!web/dist/.gitkeep
_workspace/

# AI planning scratch (design specs/plans written by tooling; not project docs)
docs/superpowers/
